extends index

block title
	title= post.title + " - " + site.title

block content
	main
		article.content
		    h1= post.title
		    .meta
                span.item
                    i.fa.fa-calendar-o
                    time(datetime= post.date.format("%Y-%m-%d"))= post.date.format("%Y.%m.%d")
                if post.category
                    span.item
                        i.fa.fa-code
                        a(href=post.category.url)= post.category.title
                span.item
                    i.fa.fa-battery-three-quarters
                    span= "%s度" %(post.visits or 0)
                span.item
                    i.fa.fa-comment-o
                    a(href="{{post.url}}#comments")= "%s评" %(post.comments_count or 0)

		    .post= post.content

		section.pager
		    if posts.pre_one
				a.pre(href=posts.previous_one.url)= posts.previous_one.title
			else
				span.pre 
					已是最新一篇
			if posts.next_one
				a.next(href=posts.next_one.url)= posts.next_one.title
			else
				span.next 
					已是最早一篇

		section#comments
			+post.comments_as_html()